.form {
    &__group {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
    }

    &__input:focus {
        outline: blue;
        box-shadow: 0 1.5rem 2rem rgba($color-black, 0.15);
        border-bottom: 3px solid $color-primary;
    }
}